/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f0f4f8;
    color: #333;
    text-align: center;
}

/* Navigation Bar */
nav {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #1abc9c;
}

/* Header Section */
header {
    background: linear-gradient(to right, #35424a, #1abc9c);
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
    transition: background 0.3s ease;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.5rem;
}

/* Section Styles */
section {
    padding: 60px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

/* Skills Grid */
.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    text-align: center;
}

.skill {
    background-color: #1abc9c;
    padding: 20px;
    color: #fff;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.skill:hover {
    transform: scale(1.05);
}

/* Project Grid */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: #35424a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card i {
    font-size: 40px;
    margin-bottom: 20px;
}

.project-card a{
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.2rem;
    }

    nav ul {
        flex-direction: column;
    }
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

a {
    color: #35424a;
    text-decoration: none;
}

a:hover {
    color: #1abc9c;
}
